################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GoogleServiceAccount
/GoogleServiceAccount/thinking-pagoda-447206-p8-5b2ac55ac4ca.json
/.vs/ProjectEvaluation
/GoogleServiceAccount/thinking-pagoda-447206-p8-0b562cdd5548.json
